<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaotu.pay.dao.TChannelMapper">
  <resultMap id="BaseResultMap" type="com.chaotu.pay.po.TChannel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="merchant" jdbcType="VARCHAR" property="merchant" />
    <result column="channel_name" jdbcType="VARCHAR" property="channelName" />
    <result column="channel_code" jdbcType="VARCHAR" property="channelCode" />
    <result column="pay_type_id" jdbcType="INTEGER" property="payTypeId" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="channel_quota" jdbcType="VARCHAR" property="channelQuota" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="extend" jdbcType="VARCHAR" property="extend" />
    <result column="today_amount" jdbcType="DECIMAL" property="todayAmount" />
    <result column="limit_amount" jdbcType="DECIMAL" property="limitAmount" />
    <result column="rate" jdbcType="DECIMAL" property="rate" />
    <result column="content_type" jdbcType="VARCHAR" property="contentType" />
    <result column="request_type" jdbcType="VARCHAR" property="requestType" />
    <result column="request_url" jdbcType="VARCHAR" property="requestUrl" />
    <result column="notify_url" jdbcType="VARCHAR" property="notifyUrl" />
    <result column="limit_times" jdbcType="INTEGER" property="limitTimes" />
  </resultMap>

  <!--修改通道-->
  <update id="updateChannel" parameterType="com.chaotu.pay.vo.ChannelVo">
    update t_channel
    <trim prefix="set" suffixOverrides=",">
        <if test="merchant!=null and merchant!=''">
            merchant=#{merchant},
        </if>
        <if test="signkey!=null and signkey!=''">
            signkey=#{signkey},
        </if>
        <if test="channelname!=null and channelname!=''">
            channelName=#{channelname},
        </if>
        <if test="channelcode!=null and channelcode!=''">
            channelCode=#{channelcode},
        </if>
        <if test="extend!=null and extend!=''">
            extend=#{extend},
        </if>
        <if test="status!=null and status!=''">
            status=#{status},
        </if>
        <if test="updateTime!=null">
            update_time=#{updateTime,jdbcType=TIMESTAMP},
        </if>
    </trim>
    where id=#{id}
  </update>
    <select id="getChannelByPayTypeRandom" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT * FROM t_channel WHERE limit_times > #{requestTimes} AND pay_type_id = #{payTypeId} ORDER BY RAND() LIMIT 1
    </select>
</mapper>